<div data-controller="company" data-company-url="<%= company_path(@company) %>">
  <p id="notice" data-target="company.notice"></p>
  
  <header class="flex-container">
    <div data-target="company.name"></div>
    <div><span>Unreviewed </span>|<span> Created Dec 24, 2019, 2:45 PM </span>|<span data-target="company.name"></span><span> was updated 5 mins ago by Inno</span></div>
  </header>
  
  <div id="edit"class="flex-container">
    <div id="icon" class="rounded-corner"><%= fa_stacked_icon "plus", base: "circle-o" %></div>
    <div class="company">
      <div>Company</div>
      <div class="company-edit">
        <span><strong>Add </strong></span>
        <span id="name-edit" data-target="company.edit" data-action="click->company#nameEdit keydown->company#editWithKeyBoard" contenteditable="false"><%= @company.name %></span>
      </div>
    </div>
  </div>

  <main>
    <div>
      <section>
        <span class="action-item">Add Product</span>
        <span class="action-item">Add Partnership</span>
        <span class="action-item">Add Funding</span>
      </section>

      <div class="add">Add Description</div>

      <div>
        <div class="item">
          Categories
          <div class="add">Add Categories</div>
        </div>
        <div class="item">
          Website
          <div class="add">Add Website</div>
        </div>

        <div class="add-item">
          <div>
            <div class="item">
              Founding Year
              <div class="add">Add Year</div>
            </div>
            <div class="item">
              Headquarters
              <div class="add">Add Headquarters</div>
            </div>
          </div>
          <div>
            <div class="item">
              Phone Number
              <div class="add">Add Phone</div>
            </div>

            <div class="item">
              Country Code
              <div class="add">Add Country</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <aside>
      <div>
        <div class="bottom-margin">Review Status</div>
        <div><span class="review-status-item">Unreviewed</span></div>
      </div>
      <div>
        <div class=" top-margin bottom-margin">completedness</div>
        <div ><span class="complete-status-item">Incomplete</span></div>
      </div>
      <div class="top-margin"><span class="contact-item">Add Social Media</span></div>
      <div class="top-margin"><span class="contact-item">Add Business Information</span></div>
      <div class="top-margin"><span class="contact-item">Add Legal Information</span></div>
    </aside>
  </main>
</div>
